.icon-fix {
  vertical-align: middle;
  line-height: 1;
}

.icon-sm {
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
}

.mat-mdc-button, .mat-mdc-stroked-button {
  border-radius: 8px !important;
}

.hover\:shadow-indigo-500\/30:hover {
  box-shadow: 0 10px 25px -5px rgba(99, 102, 241, 0.3), 0 8px 10px -6px rgba(99, 102, 241, 0.1);
}