<mat-toolbar color="primary">
  <button mat-button routerLink="/" style="font-size: 1.2rem; margin-right: 16px;">
    <mat-icon>store</mat-icon>
    Stock Store
  </button>

  <nav>
    @for (item of navItems(); track item.label) {
      <a mat-button
         [routerLink]="item.link"
         routerLinkActive="active-link"
         [routerLinkActiveOptions]="{exact: item.link === '/home'}">
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </a>
    }
  </nav>
</mat-toolbar>
