<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-col">
    <mat-form-field>
        <mat-label>
            Nombre
        </mat-label>
        <input type="text" matInput formControlName="name">
        @if (name?.invalid && name?.touched) {
            <p class="form-error">El nombre es obligatorio</p>
        }
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            URL de la imagen
        </mat-label>
        <input type="text" matInput formControlName="imageUrl">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Precio
        </mat-label>
        <input type="text" matInput formControlName="price">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Código de barras
        </mat-label>
        <input type="text" matInput formControlName="barcode">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Categorías
        </mat-label>
        <mat-select formControlName="categoriesId" multiple>
            @for (c of categories(); track c.id) {
                <mat-option [value]="c.id">{{c.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button type="submit" [disabled]="formGroup.invalid" matButton="filled">Guardar</button>
</form>
