.spacer {
  flex: 1 1 auto;
}

.navbar {
  margin-bottom: 20px;
}

.cart-fab {
  margin-right: 16px;
  box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
}

.custom-cart-btn {
  background-color: #4FC3F7 !important;

  color: white !important;

  margin-right: 16px;
  box-shadow: none;
}
