<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Bienvenido</mat-card-title>
      <mat-card-subtitle>Inicia sesión en Stock Store</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="ejemplo@correo.com">
          @if (loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched) {
            <mat-error>Ingresa un email válido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
          @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
            <mat-error>La contraseña es requerida</mat-error>
          }
        </mat-form-field>

        <div class="text-right mb-2.5">
            <a routerLink="/auth/forgot-password" class="no-underline text-sm text-[#3f51b5]">
                ¿Olvidaste tu contraseña?
            </a>
        </div>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            Ingresar
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <p>¿No tienes cuenta? <a routerLink="/auth/register">Regístrate</a></p>
    </mat-card-footer>
  </mat-card>
</div>