/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
/* src/styles.css */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Crea columnas auto-ajustables */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Para que las imagenes no rompan todo */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
