<mat-card class="search-container my-6 p-6">
  <div>
    <input
      type="text"
      #txtSearch
      placeholder="Buscar categoría por nombre..."
      (input)="onSearch(txtSearch.value)"
      class="p-3 w-full"
    >
  </div>
</mat-card>

<section class="category-grid">
  @for (c of categories(); track c.id) {
    <mat-card class="category-card my-6 mr-6 p-6">
      <mat-card-header>
        <mat-card-title>{{ c.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-actions>
        <a mat-button [routerLink]="['/categories/editCategory', c.id]">Editar</a>
        <button mat-button color="warn" (click)="deleteCategory(c.id)">Eliminar</button>
      </mat-card-actions>
    </mat-card>
  } @empty {
    <p>No se encontraron categorías.</p>
  }
</section>

<mat-paginator
    [length]="totalElements()"
    [pageSize]="pageSize()"
    [pageIndex]="pageIndex()"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="changePage($event)"
    aria-label="Seleccionar página">
</mat-paginator>

<div class="container p-4 mx-auto relative"> @if (notification()) {
    <div 
      class="toast" 
      [class.success]="notification()?.type === 'success'"
      [class.error]="notification()?.type === 'error'"
      animate.enter="slide-in"
      animate.leave="slide-out">
      
      <span class="icon">
        @if(notification()?.type === 'success') { ✓ } @else { ⚠ }
      </span>
      {{ notification()?.message }}
    </div>
  }

  <mat-card appearance="outlined">
    </mat-card>

</div>